.imgcontainer {
    margin: 30px 0 5px 0;
}

.text {
    width: 250px;
    font-size: 20px;
    font-family: "Roberto";
    padding: 16px;
    color: #001a3a;
}

input[type=password] {
    border-radius: 8px;
    width: 300px;
    padding: 10px;
    margin: 5px 0px 0px 0px;
    display: inline-block;
    border: 2px solid #8da6d6;
    height: 40px;
    color: #001a3a;
    font-size: 16px;
    font-family: "Roberto";
}

label {
    color: #8da6d6;
}

button {
    background-color: #001a3a;
    color: white;
    padding: 14px 20px;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    border-radius: 8px;
    margin-top: 16px;
}
