
#containerMid {
  z-index: 5;

  height: 100%;
}
#containerLeft {
  z-index: 1;
}
#containerRight {
  z-index: 1;
}
@media (max-width: 1200px) {
  #containerLeft {
  visibility: hidden;
  }
}

@media (max-width: 1200px) {
  #containerRight {
  visibility: hidden;
  }
}

.speechbubble{
  width:369px;
  height: 120px;
  background: url(img/contentTextBubble.png);
  background-size: contain;
  margin: 5px;
}
.bubble-text{
  margin-top: 15px;
  font-size: 12px;
  max-width: 250px;
  height: 105px;
  text-align: left;
  word-wrap: break-word;
}
.bubble-img{
  padding: 15px;

}
