
#containerMid {
  z-index: 5;
}
#containerLeft {
  z-index: 1;
}
#containerRight {
  z-index: 1;
}
@media (max-width: 1200px) {
  #containerLeft {
  visibility: hidden;
  }
}

@media (max-width: 1200px) {
  #containerRight {
  visibility: hidden;
  }
}
