<!doctype html>
<html lang="de" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/favicon.ico">
    <title>CHECK!</title>

    <link rel="stylesheet" href="style/style.css" media="screen">
    <link rel="stylesheet" href="style/navbar.css" media="screen">
    <link rel="stylesheet" href="style/content.css" media="screen">
    <link rel="stylesheet" href="style/changepassword.css" media="screen">
    <link rel="stylesheet" href="style/changeprofil.css" media="screen">
    <link rel="stylesheet" href="style/delete-profile.css" media="screen">
    <link rel="stylesheet" href="style/messages.css" media="screen">
    <link rel="stylesheet" href="style/educational.css" media="screen">


    <!-- Bootstrap core CSS -->
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="style/bootstrap-ie7.css" media="screen">
    <script>
        console.log("IE 7 or higher!");
    </script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          media="screen">
    <!-- Angularjs-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/app.js"></script>

</head>
<body ng-app="app" ng-controller="MainController" ng-cloak>
<!-- Navigationsleiste oben-->
<nav class="navbar navbar-default" role="navigation" id="header">
    <section class="container-fluid">
        <div class="row flex-items-xs-between">
            <!-- Elemente links-->
            <div class="col-xs-2">

                <div class="dropdown ">
                    <button type="button" class="nav-item dropdown-button" id="chapter-overview"
                            onclick="showDropdownOf(this)"></button>
                    <div class="dropdown-content1">
                        <div class="dropdown-header">
                            <div class="row">
                                <img src="images/confirmation.png" class="col-xs-5"/>
                                <p class="col-xs-7 Dropdown-Header1">
                                    CHECK!<br/>KOMPETENZENLISTE
                                </p>
                            </div>

                        </div>
                        <div ng-repeat="chapter in chapters">
                            <a href="#/" ng-click="changeCompetence(chapter._id)" class="clickable"
                               id="K{{chapter._id}}">{{chapter.name}}</a>
                        </div>
                    </div>

                </div>

                <div class="dropdown">
                    <button type="button" class="nav-item dropdown-button" id="educational-plan"
                            onclick="showDropdownOf(this)"></button>
                    <div class="dropdown-content1">
                        <div class="dropdown-header">
                            <div class="row">
                                <img src="/images/educationalPlan-active.png" class="col-xs-5"/>
                                <p class="col-xs-7 Dropdown-Header1">
                                    FÖRDERPLÄNE
                                </p>
                            </div>
                        </div>
                        <a class="educational-link" href="#/educationalplan" ng-click="changeEducationalPlan(0)">MATHE
                            ZR BIS 10</a>
                        <a class="educational-link" href="#/educationalplan" ng-click="changeEducationalPlan(1)">DEUTSCH
                            SATZANFÄNGE</a>
                        <a class="educational-link" href="#/educationalplan" ng-click="changeEducationalPlan(2)">SACHKUNDE
                            "DER WALD"</a>
                    </div>
                </div>

                <div class="dropdown">
                </div>

                <div class="dropdown ">
                    <button type="button" class="nav-item dropdown-button" id="achieved-competences"
                            onclick="showDropdownOf(this)"></button>
                    <div class="dropdown-content1">
                        <div class="dropdown-header">
                            <div class="row">
                                <img src="images/achievedCompetences-big.png" class="col-xs-5"/>
                                <p class="col-xs-7 Dropdown-Header1">
                                    DAS<br>KANN<br>ICH!
                                </p>
                            </div>

                        </div>
                        <a href="#/" ng-click="changeCompetence(0, true)" class="clickable"
                           id="K0">ALLE KOMPETENZEN</a>
                        <div ng-repeat="chapter in chapters">
                            <a href="#/" ng-click="changeCompetence(chapter._id, true)" class="clickable"
                               id="K{{chapter._id}}">{{chapter.name}}</a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Logo mitte-->
            <div class="col-xs-3 float-xs-right text-xs-right">
                <!-- Elemente rechts -->
                <div class="dropdown">
                    <button type="button" class="nav-item dropdown-button " id="student"
                            onclick="showDropdownOf(this)"></button>
                    <div class="dropdown-content2">
                        <div class="dropdown-header">
                            <div class="row">
                                <img ng-src="{{avatars[student.avatarId].avatarBigUrl}}" class="col-xs-5"/>
                                <p class="col-xs-7 Dropdown-Header1">
                                    {{student.forename}}<br/>{{student.surname}}
                                </p>
                            </div>
                            <div class=".Dropdown-Header2">
                                {{student.birth}}
                            </div>
                        </div>
                        <a href="#/changeprofile" ng-click="hideAllDropdowns()">Mein Profilbild ändern</a>
                        <a href="#/changepassword" ng-click="hideAllDropdowns()">Mein Passwort ändern</a>
                        <a href="#/deleteprofile" ng-click="hideAllDropdowns()">Mein Profil löschen</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button type="button" class="nav-item dropdown-button" id="school"
                            onclick="showDropdownOf(this)"></button>
                    <div class="dropdown-content2">
                        <div class="dropdown-header">
                            <div class="row">
                                <img ng-src="{{student.school.imageUrlBig}}" class="col-xs-5"/>
                                <p class="col-xs-7 Dropdown-Header1">
                                    {{student.school.name}}
                                </p>
                            </div>
                            <div class=".Dropdown-Header2">
                                {{student.school.street}}<br>{{student.school.city}}<br>{{student.school.country}}<br>{{student.school.email}}<br>{{student.school.telefon}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="dropdown">
                    <button type="button" class="nav-item dropdown-button" id="studyGroup"
                            onclick="showDropdownOf(this)"></button>
                    <div class="dropdown-content2">
                        <div class="dropdown-header">
                            <div class="row">
                                <img ng-src="{{student.studyGroups.imageUrlBig}}" class="col-xs-5"/>
                                <p class="col-xs-7 Dropdown-Header1">
                                    KLASSE<br>{{student.studyGroups.class}}
                                </p>
                            </div>
                            <div class=".Dropdown-Header2">
                                KLASSENLEHRER*IN<br>{{student.formteacher}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Trennstrich-->
                <div class="split">
                </div>

                <div class="dropdown">
                    <button type="button" class="nav-item dropdown-button" id="help"
                            onclick="showDropdownOf(this)"></button>
                    <div class="dropdown-content2">
                        <div class="dropdown-header">
                            <div class="row">
                                <img src="images/help-big.png" class=col-xs-5 Dropdown-Header-Picture/>
                                <p class="col-xs-7 Dropdown-Header1">
                                    BRAUCHST<br/>DU HILFE?
                                </p>
                            </div>
                        </div>
                        <a href="#/" ng-click="hideAllDropdowns()">SO GEHT'S!</a>
                        <a href="#/" ng-click="hideAllDropdowns()">VIDEO TUTORIALS</a>
                        <a href="#/" ng-click="hideAllDropdowns()">HÄUFIG GESTELLTE FRAGEN</a>
                        <a href="#/" ng-click="hideAllDropdowns()">KONTAKT</a>
                    </div>
                </div>


                <div class="dropdown">
                    <button type="button" class="nav-item dropdown-button" id="logout"
                            onclick="showDropdownOf(this)"></button>
                    <div class="dropdown-content2">
                        <div class="dropdown-header">
                            <div class="row">
                                <img src="images/logout-big.png" class=col-xs-5 Dropdown-Header-Picture/>
                                <p class="col-xs-7 Dropdown-Header1">
                                    MÖCHTEST DU<br/>CHECK!<br/>VERLASSEN?
                                </p>
                            </div>
                        </div>
                        <a ng-click="logout()" href="login.html">JA</a>
                        <a href="#/" ng-click="hideAllDropdowns()">NEIN</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</nav>
<!-- Seiteninhalt speechbubbles-->

<div id="MegaUberContent">
    <ng-view>

    </ng-view>
</div>

<!-- fusszeile-->
<div class="footerHolder"></div>
<div class="footer">
    <img id="logo" src="images/logo.png">
    <p id="footertext"> edition 2016 dark night blue 1.0</p>
</div>
</body>
</html>
