<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHECK!</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  <link rel="stylesheet" type="text/css" media="screen" href="style/login.css">
  <link rel="stylesheet" type="text/css" media="screen" href="style/messages.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
  <script src="login.js"></script>
  <script src="messagecontroller.js"></script>
</head>
<body ng-app="login" ng-controller="loginCtrl">

<warning-message></warning-message>


  <div class="imgcontainer">
    <img src="images/login/header.png" alt="Avatar" class="avatar">
  </div>

  <form class="container1" >
    <input type="text" placeholder="BENUTZERNAME" name="uname" ng-model="username" required>
    <br>
    <input type="password" placeholder="PASSWORD" name="psw" ng-model="password" required>
    <br>
    <button ng-click="login()">LOS!</button>
    <input type="submit" ng-submit="login()" ng-show=false>
  </form>
  <div class="container2">
    <span class="psw">Sie m&oumlchten mit CHECK! arbeiten?
    <br>
    <a href="#">Jetzt registieren.</a></span>
  </div>

  <div class="footer">
    <img src="images/login/footer.png">
    <p id="footerhead">edition 2016 dark night blue 1.0</p>
    <p>CHECK! und CHECK! Lehrerzimmer sind Produkte des Raup&Ritter Verlag und der OnWerk Softwareagentur Mannheim</p>
    <p>www.raupundritter.com - Kontakt - Impressum - Preise - Hilfe</p>
  </div>


</body>
</html>
