


  <center ng-app="app" ng-controller="passwordController">
    <warning-message></warning-message>
    <success-message></success-message>
  <div class="imgcontainer">
  <img src="images/change-password.png" alt="TrashIcon">
  </div>

  <div class="text">
  PASSWORT &AumlNDERN
  </div>


    <label for="actualpassword"> AKTUELLES PASSWORT *
    <input id="actualpassword" ng-model="currentPassword" type="password">
    </label>
    <br>
    <label for="newpassword"> NEUES PASSWORT *
    <input id="newpassword" ng-model="newPassword" type="password">
    </label>
    <br>
    <label for="passwordconfirmation"> PASSWORT BEST&AumlTIGUNG *
    <input id="passwordconfirmation" ng-model="passwordConfirmation" type="password">
    </label>
    <br>
    <button ng-click="changePassword()">&AumlNDERN</button>

  </center>
